@import '../../assets/stylus/mixins.styl'
.CategoryAll
  width 7.5rem
  height 13.34rem
  .CategoryHeader
    width 8.1rem
    height 0.89rem
    display flex
    align-items center
    justify-content center
    position relative
    border-bottom 0.03rem solid #EDEDED
    background white
    z-index 5
    input
      width 6.87rem
      height 0.51rem
      background #EDEDED
      font-size 0.3rem
      text-align center
      margin-right 0.55rem
    .iconfont
      position absolute
      left 1.5rem
      top 0.3rem
  .CategoryMainAll
    .CategoryLeft
      float left
    .CategoryScrollMain
      height 11.44rem
      .CategoryRight
        float right




