@media only screen and (-webkit-device-pixel-ratio: 2) {
  .border-1px::before {
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3) {
  .border-1px::before {
    transform: scaleY(0.333333);
  }
}
.wrap {
  width: 100%;
  height: 13.34rem;
  overflow: hidden;
}
.wrap .header {
  width: 100%;
  height: 1.5rem;
  position: fixed;
  background-color: #fff;
  top: 0;
  z-index: 10;
/*头部导航*/
}
.wrap .header .headerTop {
  width: 100%;
  height: 0.9rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.wrap .header .headerTop h2 {
  margin-left: -0.7rem;
  font-weight: bold;
  font-size: 0.36rem;
}
.wrap .header .headerTop input {
  width: 4rem;
  height: 0.6rem;
  border-radius: 0.3rem;
  padding-left: 0.5rem;
  box-sizing: border-box;
  background: #ededed;
  font-size: 0.24rem;
  margin-left: -1.9rem;
}
.wrap .header .headerTop .iconItem {
  position: absolute;
  left: 2.5rem;
  top: -0.3rem;
}
.wrap .header .headerTop .iconItem .iconfont {
  font-size: 0.3rem;
}
.wrap .header .wrapper {
  width: 100%;
  height: 0.5rem;
  display: flex;
}
.wrap .header .wrapper .navList {
  display: flex;
  align-items: flex-start;
  padding: 0 0.1rem;
}
.wrap .header .wrapper .navList li {
  width: 0.8rem;
  height: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.14rem;
  line-height: 0.6rem;
  position: relative;
  margin-right: 0.61rem;
  margin-left: 0.38rem;
}
.wrap .header .wrapper .navList li.active {
  color: #f00;
}
.wrap .header .wrapper .navList li.active::after {
  display: block;
  content: "";
  width: 100%;
  height: 0.03rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #f00;
}
.wrap .container {
  width: 100%;
  height: 100%;
}
.wrap .container .main {
  width: 7.5rem;
  position: relative;
  margin-top: 1.5rem;
  padding-bottom: 2rem;
}
.wrap .container .main .firstPublish {
  width: 7.5rem;
  height: 2.6rem;
  background: #f1f7fd;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #8ba0b6;
}
.wrap .container .main .firstPublish .new {
  width: 3.8rem;
  height: 0.72rem;
  font-size: 0.54rem;
  background: #f1f7fd;
  text-align: center;
  margin-top: 0.5rem;
}
.wrap .container .main .firstPublish button {
  width: 2.4rem;
  height: 0.56rem;
  background: #d8e5f1;
  border: none;
  outline: none;
  margin-bottom: 0.5rem;
}
.wrap .container .main .m-site {
  width: 7.5rem;
  height: 3rem;
}
.wrap .container .main .m-site img {
  width: 100%;
  height: 100%;
}
