@import '../../assets/stylus/mixins.styl'
.shadowScrollContainer
  display flex
  padding 0.28rem 0.3rem
  box-sizing border-box
  .shadowScrollList
    display flex
    li
      width 1.64rem
      height 2.1rem
      margin-right 0.2rem
      position relative
    img
      width 1.64rem
      height 1.64rem
    .shadowScrollText
      width 1.64rem
      height 0.24rem
      font-size 0.14rem
      position absolute
      left: 0.5rem
      top: 1.8rem
    .shadowTopText
      width 1.64rem
      height 0.32rem
      background #BBB6B2
      color white
      font-size 0.14rem
      position absolute
      left: 0
      top: 0
      text-align: center
