@media only screen and (-webkit-device-pixel-ratio: 2) {
  .border-1px::before {
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3) {
  .border-1px::before {
    transform: scaleY(0.333333);
  }
}
.app {
  width: 7.5rem;
  height: 13.34rem;
  padding: 0 0.3rem;
  box-sizing: border-box;
}
.app .header {
  width: 7.5rem;
  height: 0.8798rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: #e9e9e9;
  border: 0.01rem solid #e9e9e9;
}
.app .header .icon-shouye {
  width: 0.6rem;
  height: 0.6rem;
  font-size: 0.68rem;
  display: block;
  position: absolute;
  top: 0.1rem;
  left: 0.3rem;
}
.app .header .headerText {
  background: url("//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/hd-s342878591a-9af1a97852.png");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 2.29333rem;
  height: 0.72rem;
  background-position: 0 -1.70667rem;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 2.29333rem 5.30667rem;
}
.app .header .icon-search {
  width: 0.48rem;
  height: 0.44rem;
  font-size: 0.48rem;
  display: block;
  position: absolute;
  right: 1.3rem;
  top: 0.15rem;
}
.app .header .icon-caigou {
  width: 0.48rem;
  height: 0.44rem;
  font-size: 0.58rem;
  display: block;
  position: absolute;
  right: 0.5rem;
  top: 0.15rem;
}
.app .header .shopping {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 2.29333rem;
  height: 0.72rem;
  line-height: 0.72rem;
  font-size: 0.4rem;
  text-align: center;
}
.app .shadowMaticContainer {
  width: 7.5rem;
  height: 100%;
}
.app .shadowMaticContainer .main {
  width: 7.5rem;
  margin-top: 0.8798rem;
  padding-bottom: 2rem;
}
