@media only screen and (-webkit-device-pixel-ratio: 2) {
  .border-1px::before {
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3) {
  .border-1px::before {
    transform: scaleY(0.333333);
  }
}
.footer {
  width: 7.5rem;
  height: 49px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer a {
  width: 48px;
  height: 67px;
  text-align: center;
}
.footer a.active {
  color: #f00;
}
.footer a .iconfont {
  width: 40px;
  height: 40px;
  display: block;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
}
.footer a .footerText {
  font-size: 12px;
  margin-top: -6px;
  display: block;
}
