@import '../../assets/stylus/mixins.styl'
.footer
  width 7.5rem
  height 49px
  position fixed
  bottom 0
  left 0
  z-index 3
  background: white

  display flex
  justify-content space-around
  align-items center
  a
    width 48px
    height 67px
    text-align: center
    &.active
      color red
    .iconfont
      width 40px
      height 40px
      display block
      font-size 20px
      text-align center
      line-height 40px
      margin 0 auto
    .footerText
      font-size 12px
      margin-top -6px
      display block



